* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  background-color: #fdfbf8;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}